* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  background-color: #6003C3;
}

h1 {
  color: white;
  font-size: 4em;
}



@media (max-width: 570px) {

}