* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
  background-image: linear-gradient(to bottom right, #010126, #41b0fc);
}

img {
  width: 15%;
}

header {
}

h1 {
  font-size: 3em;
}

h1, h2, p, a, label {
  color: white;
}

a {
  text-decoration: none;
}



@media (max-width: 570px) {

}